.HeaderComponent{
    padding: 80px 60px ;
    position: fixed;
    width: 100%;
    ul{
    padding: 0;
    display: flex;
    list-style: none;
    white-space: nowrap;
.header__menu-item{
    padding:0px 29px;
    font-size: 12px;
}}
}

