//variables.scss

// colors
$primary-color: #070707;
$secondary-color: #F6B419;
$tertiary-color: #3754E2;
$quaternary-color: #F5F5F5;
$quinary-color: #D9D9D9;
$senary-color: #FFFFFF;

// fonts
$ff-roboto: "Roboto", sans-serif;
$ff-raleway: "Raleway", sans-serif;

// font-sizes
// Padding
$p-xs: 0.25rem;
$p-sm: 0.5rem;
$p-md: 0.75rem;
$p-lg: 1rem;
$p-xl: 1.5rem;
$p-2xl: 2rem;
$p-3xl: 3rem;
$p-4xl: 4rem;
$p-5xl: 5rem;
$p-6xl: 6rem;

// Margin
$m-xs: 0.25rem;
$m-sm: 0.5rem;
$m-md: 0.75rem;
$m-lg: 1rem;
$m-xl: 1.5rem;
$m-2xl: 2rem;
$m-3xl: 3rem;
$m-4xl: 4rem;
$m-5xl: 5rem;
$m-6xl: 6rem;

// Font-size
$fs-xs: 0.25rem;
$fs-sm: 0.5rem;
$fs-md: 0.75rem;
$fs-lg: 1rem;
$fs-xl: 1.5rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;
$fs-5xl: 5rem;
$fs-6xl: 6rem;

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;


// font mixins
$roboto-thin: $fw-thin $ff-roboto;
$roboto-light: $fw-light $ff-roboto;
$roboto-regular: $fw-regular $ff-roboto;
$roboto-bold: $fw-bold $ff-roboto;

$raleway-thin: $fw-thin $ff-raleway;
$raleway-light: $fw-light $ff-raleway;
$raleway-regular: $fw-regular $ff-raleway;
$raleway-bold: $fw-bold $ff-raleway;
