
.HomeComponent{
 background-color:#c1c1c1;

.home{
    width: 100%;  
    
    .home__content{
        height: 700px;
        padding-top:7rem;
           
        .content__description{
            padding-top:7rem;
        }
        .content__img{
            object-fit: contain;
            img{
                width: 30rem;
             
            }
        }
    }

    .home__cta{
        button{
            width: 100%;
        }
    }
   
}   
}






