@import "../../../assets/scss/index.scss";

.PressComponent {
    .press {
        &__description {
            &-title {
                max-width: 600px;
            }
            margin-bottom: $m-4xl;
        }

        &__banner {
            margin: 0 auto;
            background-image: url('../../../assets/img/pressbannerbg.png');
            background-size: cover;
            padding: $p-2xl;
            width: 90%;
            &__content{
            padding: $p-2xl 0;
            &-title{
                @include bold-size('Raleway',$fs-xl);
                color:$tertiary-color;

            }
            &-subtitle{
                @include light-size('Raleway',$fs-xl);
                color:$tertiary-color;
                width: 70%;
            }
            &-cta{
                
            }
        }}

    }
    .weGuideYou__img {
    }
}
